.homeResult {
	width: 100%;
	background-color: #000000;
	height: 100vh;
	.content {
		padding-inline: 2rem;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;

		header {
			position: fixed;
			height: auto;
			left: 0;
			top: 0;
			padding-inline: 7.5rem;
			width: 100%;
			backdrop-filter: blur(8px);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-block: 1.5rem;
			.divContent1 {
				display: flex;
				align-items: center;
				// justify-content: center;
				gap: 0.8rem;
				img {
					width: 30px;
					height: 35px;
				}
				span {
					color: #ecf1f0;
					font-weight: 700;
					font-size: 1.4rem;
				}
			}
			nav {
				ul {
					display: flex;
					align-items: center;
					gap: 1.2rem;
					li {
						font-weight: 400;
						font-size: 1rem;
						color: #ecf1f0;
						&:hover {
							transition: all 0.3s ease;
							color: #0fae96;
						}
					}
					.ulDiv2 {
						display: flex;
						align-items: center;
						gap: 0.3rem;
						margin-left: 1rem;
						select {
							color: #ecf1f0;
							font-weight: 400;
							font-size: 1rem;
							option {
								color: #ecf1f0;
								font-weight: 400;
								font-size: 1rem;
							}
						}
					}
				}
			}
			div {
				.buttonIsLogin {
					color: #0fae96;
					font-weight: 400;
					font-size: 1rem;
					border: 1px solid #0fae96;
					border-radius: 4px;
					padding-block: 0.7rem;
					padding-inline: 1.7rem;
					background-color: transparent;
					&:hover {
						transition: all 0.4s ease;
						background-color: #0fae96;
						color: #000000;
					}
				}
			}
		}
		main {
			height: auto;
			margin-top: 105px;
			padding-block: 4rem;
			.section1 {
				display: flex;
				justify-content: space-between;
				align-items: start;
				.section1ContentDiv {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 3rem;
					h2 {
						color: #ecf1f0;
						font-weight: 700;
						font-size: 2.1rem;
					}
					p {
						color: #d4d4d4;
						font-weight: 400;
						font-size: 1.5rem;
					}
					button {
						color: #ecf1f0;
						font-weight: 400;
						font-size: 1rem;
						background-color: #0fae96;
						padding-block: 0.7rem;
						padding-inline: 1.8rem;
						border-radius: 4px;
						border: none;
					}
				}
			}
			.section2 {
				margin-top: 8rem;
				display: flex;
				justify-content: space-between;
				align-items: start;
				flex-direction: row-reverse;
				.section1ContentDiv {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 3rem;
					h2 {
						color: #ecf1f0;
						font-weight: 700;
						font-size: 2.1rem;
					}
					p {
						color: #d4d4d4;
						font-weight: 400;
						font-size: 1.5rem;
					}
				}
			}
			.section3 {
				display: flex;
				align-items: start;
				gap: 0.9rem;
				.section3Div1 {
					display: flex;
					flex-direction: column;
					gap: 2.5rem;
					p {
						color: #d4d4d4;
						font-weight: 400;
						font-size: 1rem;
					}
				}
				.divContentsAndPhotos {
					display: flex;
					flex-direction: column;
					gap: 1.2rem;
					.cards {
						display: flex;
						gap: 1rem;
						.cardsDivContent {
							display: flex;
							flex-direction: column;
							align-items: start;
							gap: 1.2rem;
							h2 {
								font-weight: 700;
								color: #ecf1f0;
								font-size: 1.5rem;
							}
							p {
								color: #d4d4d4;
								font-weight: 400;
								font-size: 1rem;
							}
							button {
								color: #0fae96;
								font-weight: 400;
								font-size: 1rem;
								border: 1px solid #0fae96;
								border-radius: 4px;
								padding-block: 0.7rem;
								padding-inline: 1.7rem;
								background-color: transparent;
							}
						}
					}
				}
			}
		}
		footer {
			margin-top: auto;
			padding-block: 4rem;
			.sectionFooter {
				display: flex;
				flex-direction: column;
				gap: 5rem;
				h2 {
					text-align: center;
					color: #ecf1f0;
					font-weight: 700;
					font-size: 2.1rem;
				}
				p {
					text-align: center;
					color: #d4d4d4;
					font-weight: 400;
					font-size: 1.5rem;
				}
				.footerDivCards {
					display: flex;
					justify-content: space-around;
					align-items: center;
					flex-wrap: wrap;
					.divCard {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						gap: 1rem;
						width: 25.7rem;
						height: 16.2rem;
						border-radius: 18px;
						padding: 32px, 16px, 32px, 16px;
						border: 0.5px solid;

						border-image-source: linear-gradient(
								0deg,
								rgba(255, 255, 255, 0.05),
								rgba(255, 255, 255, 0.05)
							),
							linear-gradient(
								109.41deg,
								#0fae96 0%,
								rgba(18, 14, 39, 0) 48.96%,
								#7dcfe9 100%
							);
						p {
							color: #ecf1f0;
							font-weight: 400;
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}
