.loginPages {
	margin-top: 3rem;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		gap: 7px;
		.divForm {
			width: 345px;
			height: 550px;
			padding-block: 1.5rem;
			border-radius: 12px;
			box-shadow: 0 0 1px black;
			.contentsLoginPages {
				display: flex;
				justify-content: center;
				gap: 0.1rem;
				flex-direction: column;
				align-items: center;
			}
			.inputAndButtons {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				gap: 12px;
				padding-bottom: 1rem;
				.inputs {
					width: 240px;
					height: 29px;
					border-radius: 3px;
					border: none;
					box-shadow: 0px 0px 2px black;
					&:hover {
						border: 2px solid #a3a3fd93;
						background-color: #a3a3fd52;
						/* outline: blue; */
					}
					/* &:active {
            border: none;
          } */
					padding-left: 15px;
					color: #403b3b;
					font-size: 12px;
				}
				.buttonRegister {
					cursor: pointer;
					width: 258px;
					height: 31px;
					border-radius: 3px;
					background-color: blue;
					color: #fff;
					font-size: 14px;
					border: none;
				}
				.buttonicon {
					cursor: pointer;
					width: 258px;
					height: 31px;
					border-radius: 3px;
					background-color: #fff;
					color: black;
					font-size: 14px;
					display: flex;
					align-items: center;
					box-shadow: 0px 0px 2px black;
					justify-content: center;
					gap: 10px;
					border: none;
				}
				div {
					margin-block: 9px;
					width: 258px;
					height: 0px;
					border: 1px solid #c8bfbf;
				}
			}
		}
	}
}
