.ProducId {
	.content {
		padding-inline: 4rem;
		.producItemId {
			display: flex;
			justify-content: space-around;
			align-items: center;
			img {
				width: 21rem;
				height: 24rem;
			}
			.contentProduc {
				display: flex;
				flex-direction: column;
				align-items: start;
				.products {
					p {
						color: #5e5757;
						font-weight: 500;
						font-size: 1.1rem;
						cursor: pointer;
					}
					.p {
						color: black;
						font-weight: 600;
						font-size: 2rem;
					}
				}
				.productsColor {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 0.8rem;
					p {
						color: black;
						font-weight: 500;
						font-size: 1.2rem;
					}
					.divPhotosColor {
						display: flex;
						align-items: center;
						gap: 1.1rem;
						.divPhotoColorResult1 {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							background-color: #fff;
							box-shadow: 0px 0px 2px rgb(31, 30, 30);
						}
						.divPhotoColorResult2 {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							background-color: black;
							box-shadow: 0px 0px 2px rgb(31, 30, 30);
						}
						.divPhotoColorResult3 {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							background-color: rgb(49, 49, 248);
							box-shadow: 0px 0px 2px rgb(31, 30, 30);
						}
					}
				}
				.memoryIphone {
					display: flex;
					flex-direction: column;
					align-items: start;
					p {
						color: black;
						font-weight: 500;
						font-size: 1.2rem;
					}
					.memoryButtons {
						display: flex;
						align-items: center;
						gap: 1rem;
						.buttonactive {
							padding-block: 12px;
							padding-inline: 18px;
							border-radius: 7px;
							// color: black;
							color: black;
							border: 2px solid blue;
						}
						.buttonNoActive {
							padding-block: 12px;
							padding-inline: 18px;
							border-radius: 7px;
							color: black;
							color: #5e5757;
							// border: 2px solid blue;
						}
					}
				}
        .producPriceDiv {
          display: flex;
          flex-direction: column;
          
        }
			}
		}
	}
}
