header {
	box-shadow: 0px 0px 0.5px black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	backdrop-filter: blur(8px);
	z-index: 50;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 1rem;
		padding-inline: 4.5rem;
		img {
			width: 5.5rem;
			height: auto;
		}
		p {
			color: rgb(100, 98, 98);
			font-weight: 400;
			font-size: 0.8rem;
		}
		.buttons {
			display: flex;
			align-items: center;

			button {
				background-color: transparent;
				border: none;
				img {
					width: 4rem;
					height: auto;
				}
				.img {
					width: 1.5rem;
					height: auto;
				}
				.p {
					color: #000000;
					font-weight: 400;
					font-size: 0.7rem;
					margin-bottom: 1px;
				}
			}
			.containerDivFixet {
				position: fixed;
				right: 0;
				top: 75px;
				width: 230px;
				height: auto;
				padding-inline: 1rem;
				padding-block: 1rem;
				border-radius: 7px;
				background-color: #1f2222;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 17px;
				.contentsDiv {
					h2 {
						color: #fff;
						font-weight: 400;
						font-size: 0.7rem;
					}
					border-bottom: 1px solid #fff;
				}
				.profileDiv {
					display: flex;
					align-items: center;
					gap: 10px;
					img {
						width: 20px;
						height: 20px;
						border-radius: 31%;
					}
					p {
						color: #c2c5cd;
						font-weight: 350;
						font-size: 15px;
					}
				}
				.p {
					color: #ffffff;
					font-weight: 400;
					font-size: 14px;
					border-bottom: 1px solid #fff;
				}
				.buttonsAndTexts {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 6.6px;
					// justify-content: center;
					p {
						color: #fff;
						font-weight: 400;
						font-size: 14px;
						width: 195px;
						height: 32px;
						padding-left: 5px;
						display: flex;
						align-items: center;
						border-bottom: 1px solid #fff;
						&:hover {
							transition: all 0.2s ease;
							background-color: #656b68;

							border-radius: 7px;
						}
					}
					button {
						width: 195px;
						padding-block: 2px;
						border-radius: 8px;
						border: none;
						color: #fff;
						font-weight: 400;
						font-size: 1rem;
						display: flex;
						align-items: center;
						p {
							color: #fff;
							font-weight: 400;
							font-size: 0.9rem;
							text-align: start;
						}
						&:hover {
							transition: all 0.2s ease;
							background-color: #656b68;
						}
					}
				}
			}
		}
	}
}
.formsHeaderContainer {
	display: flex;
	flex-direction: column;
	padding-block: 1.2rem;
	padding-inline: 1.5rem;
	.modalContent1 {
		display: flex;
		justify-content: space-between;
		align-items: start;
		padding-bottom: 2.4rem;
		h3 {
			color: #343635;
			font-weight: 700;
			font-size: 1.2rem;
		}
		img {
			opacity: 5%;
			width: 40px;
			height: 40px;
			cursor: pointer;
			// color: #343635;
			background-color: #343635;
			border-radius: 50%;
			// position: relative;
			// z-index: 100;
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		.formAndLabelAndInput {
			display: flex;
			flex-direction: column;
			gap: 5px;
			label {
				color: #c2c5cd;
				font-weight: 500;
				font-size: 0.9rem;
			}
			.inputs {
				background-color: aliceblue;
				width: 26.8rem;
				padding-left: 15px;
				height: 3.1rem;
				border-radius: 8px;
				border: 1px solid #7e8494;
				color: #343635;
				font-weight: 400;
				font-size: 1rem;
			}
		}
		.buttonsIsForms {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			button {
				background-color: #7e8494;
				padding-block: 1.2rem;
				padding-inline: 2rem;
				color: #ffffff;
				font-weight: 400;
				font-size: 0.9rem;
				border-radius: 10px;
				border: none;
				cursor: pointer;
			}
		}
	}
}

.basketProducContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-block: 1rem;
	padding-inline: 3rem;
	border-radius: 7px;
	// position: fixed;
	// width: 100%;
	// left: 0;
	// // top: 0;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// .PTagtext {
	// 	color: rgb(18, 19, 20);
	// 	font-weight: 400;
	// 	font-size: 1.2rem;
	// }
	.BasketProductsCards {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 8px;
		padding-inline: 1.8rem;
		border-radius: 12px;
		.contentsProducts {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			.producTexts {
				display: flex;
				justify-content: space-around;
				align-items: center;
				p {
					color: rgb(18, 19, 20);
					font-weight: 400;
					font-size: 1rem;
				}
			}
			.buttonsIsProducts {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				button {
					color: rgb(193, 28, 193);
					background-color: transparent;
					border: 2px solid rgb(193, 28, 193);
					padding-block: 14px;
					padding-inline: 16px;
					font-size: 18px;
					font-weight: 700;
					border-radius: 10px;
					&:hover {
						transition: all 0.2s ease;
						background-color: rgb(193, 28, 193);
						border: none;
						color: #ffffff;
					}
				}
				span {
					padding-block: 0.4rem;
					padding-inline: 1rem;
					color: #000000;
					font-weight: 400;
					font-size: 1rem;
				}
			}
			.buttonAddProduc {
				padding-block: 0.8rem;
				padding-inline: 1.1rem;
				border-radius: 8px;
				background-color: #ffffff;
				border: 2px solid rgb(193, 28, 193);
				color: rgb(193, 28, 193);
				font-weight: 500;
				font-size: 1.1rem;
				&:hover {
					transition: all 0.3s ease;
					background-color: rgb(193, 28, 193);
					color: #ffffff;
					border: none;
				}
			}
		}
	}
	.divProductsPrice {
		display: flex;
		align-items: center;
		gap: 2rem;
		h3 {
			color: rgb(18, 19, 20);
			font-weight: 700;
			font-size: 1rem;
		}
		p {
			color: rgb(18, 19, 20);
			font-weight: 450;
			font-size: 14px;
		}
	}
}

.buttonModalNooBasket {
	font-size: 0.9rem;
	font-weight: 550;
	border-radius: 9px;
	color: #9b9f9d;
	background-color: rgb(23, 22, 22);
	padding-block: 0.8rem;
	padding-inline: 1.2rem;
	&:hover {
		transition: all 0.2s ease;
		background-color: rgb(46, 44, 44);
	}
}
